* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.calc {
    width: 397px;
    padding: 15px;
    background-color: black;
    color: white;
    text-align: center;
}

.screen {
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
    padding: 20px 5px;
}

.calc-button {
    background-color: #C8C7C4;
    color: black;
    height: 78px;
    width: 21.5%;
    margin: 3px;
    border: none;
    border-radius: 50px;
    font-size: 40px;
    cursor: pointer;
}

.calc-button:hover {
    background-color: #ebebeb;
}

.calc-button:last-child {
    background-color: #FFAE01;
    color: white;
}

.calc-button:last-child:hover {
    background-color: #FECC5F;
}
.calc-button:last-child:active {
    background-color: white;
    color: #FFAE01;
}


.double {
    width: 49.7%;
}

.triple {
    width: 74.8%;
}

.calc-row {
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

